<div class="add_input_div">
  <input class="fio_input" type="text" placeholder="Фамилия, имя, отчество" id="name" required />
  <input class="phone_input" type="text" placeholder="Телефон" id="phone" required />
</div>
<div class="add_buttons_div">
  <button class="mybutton" id="mybutton">Добавить</button>
  <button class="mybutton"><a href="/">Отказаться</a></button>
</div>