<div class="add_input_div">
  <input class="fio_input" type="text" placeholder="ФИО" id="name" required value="{{name}}" />
  <input class="phone_input" type="text" placeholder="Телефон" id="phone" required value={{phone}}  disabled/>
</div>
<div class="add_buttons_div">
  <button class="mybutton" id="update_button">Изменить</button>
  <button class="mybutton" id="remove_button">Удалить</button>
  <button class="mybutton"><a href="/">Отказаться</a></button>
</div>