body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contacts {
  width: 35%;
  height: 40%;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid gray;
  border-radius: 5px; 
}

button {
  font-size: 20px;
}

.contact_button {
  width: 100%;
  height: 50px;
  margin: 5px 0;
  text-align: left;
}

.mybutton {
  margin-top: 20px;
  width: 300px;
  height: 40px;
}

.add_input_div {
  width: 35%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.add_buttons_div {
  width: 35%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.fio_input,
.phone_input {
  height: 40px;
  width: 300px;
  font-size: 20px;
}

a {
  color: inherit;
  text-decoration: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
